---
import Navbarreact from "../components/ui/Navbar";
import Footer from "../components/ui/footer.astro";
import AuthCheck from "../components/sections/checks/AuthCheck";

interface Props {
  title: string;
}

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const showNavbar = currentPath !== "/" && currentPath !== "/login";
const showLimit = showNavbar;
const authCheck = showNavbar;
---

<!doctype html>
<html lang="es" class="lenis lenis-smooth scroll-pt-5">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="author" content="VIDICAN, MIHNEA IOAN" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <style>
    html {
      overflow-y: scroll;
    }
  </style>
  <body class="bg-base-100 w-full">
    <div class="grid min-h-screen grid-rows-[auto_1fr_auto]">
      {showNavbar && <Navbarreact client:load />}
      {authCheck && <AuthCheck client:load/>}
	  
      <main>
        <div class={showLimit ? "max-w-screen-xl mx-auto" : ""}>
          <slot />
        </div>
      </main>

      <Footer />
    </div>
  </body>
  <script>
    import "../../assets/scripts/lenisSmoothScroll.js";
  </script>
</html>
