---
import Layout from "../layouts/Layout.astro";
---

<Layout title="PharmAD | Principal">
  <section
    class="hero min-h-screen w-full bg-neutral flex flex-col items-center justify-center text-center text-white"
  >
    <div
      class="max-w-[80rem] w-full mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center"
    >
      <h1 class="text-5xl font-bold mb-8">PharmAD</h1>
      <p class="text-white mb-4">
        Facilitando el seguimiento, asegurando la eficacia
      </p>
      <div class="flex flex-col space-y-4 items-center">
        <a href="/login" class="btn btn-primary w-80 text-white"
          >Iniciar sesión</a
        >
        <button
          id="scrollToAbout"
          class="btn bg-white text-green-800 hover:bg-gray-300 w-80"
        >
          Saber más
        </button>
      </div>
    </div>
  </section>

  <section id="about" class="w-full bg-base-200 py-20 text-center">
    <div class="max-w-[80rem] mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-4xl font-bold mb-8">La importancia de la adherencia</h2>
      <p class="text-lg text-nblack">
        Añadir resumen sobre el estudio de la adherencia, datos estadísticos
        sobre la mejora en la salud de los pacientes respetando los tratamientos
        e información extra
      </p>
    </div>
  </section>

  <section class="w-full bg-base-100 py-20 text-center">
    <div class="max-w-[80rem] mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-4xl font-bold mb-8">Para qué sirve esta plataforma</h2>
      <p class="text-lg text-black">
        Añadir objetivos de la plataforma, cómo interviene en la mejorea de la
        adherencia terapéutica en los pacientes y en qué se basa su
        funcionamiento.
      </p>
    </div>
  </section>

  <section class="w-full bg-base-200 py-20 text-center">
    <div class="max-w-[80rem] mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-4xl font-bold mb-8">Sobre el proyecto</h2>
      <p class="text-lg text-black">
        De dónde surgió la idea, objetivo de expansión, etc.
        <br />

        añadir también que se trata de un TFG
        <br>
        sdfs
        <br>
        sdfs
        <br>
        sdfs
        <br>
        sdfs
        <br>
        sdfs
      </p>
    </div>
  </section>

  <script type="module">
    import lenis from "../../assets/scripts/lenisSmoothScroll.js";

    document.getElementById("scrollToAbout").addEventListener("click", () => {
      const aboutSection = document.getElementById("about");
      lenis.scrollTo(aboutSection);
    });
  </script>
</Layout>
